.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 calc((100% - 260px) / 2);
}
.profile__form{
  min-width: 100%;
}
.profile__fieldset{
  margin-bottom: 350px;
}
.profile__title{
  margin: 0 auto 76px;
}
@media screen and (min-width: 768px){
  .profile{
    align-items: flex-start;
    margin: 0 calc((100% - 410px) / 2);
  }
  .profile__fieldset{
    margin-bottom: 178px;
  }
  .profile__title{
    min-width: 100%;
    text-align: center;
    margin-bottom: 94px;
  }
}
@media screen and (min-width: 1280px){
  .profile{
    align-items: flex-start;
  }
  .profile__fieldset{
    margin-bottom: 189px;
  }
  .profile__title{
    margin-bottom: 122px;
  }
}


