.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px calc((100% - 260px) / 2) 0;
}

.profile__form{
  min-width: 100%;
}
.profile__fieldset{
  margin-bottom: 306px;
}
.profile__title{
  margin: 0 auto 76px;
}
.profile__span_subtitle{
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  visibility: visible;
  min-height: 30px;
  margin: 0 auto;
}
.profile__span_subtitle_invalid{
  visibility: hidden;
}
.profile__span_error{
  color: #EE3465;
}
.profile__span_successful{
  color: #FFFFFF;
}
.profile__span_successful_invalid{
  visibility: hidden;
}
@media screen and (min-width: 768px){
  .profile{
    align-items: flex-start;
    margin: 4px calc((100% - 410px) / 2) 0;
  }

  .profile__fieldset{
    margin-bottom: 133px;
  }
  .profile__title{
    min-width: 100%;
    text-align: center;
    margin-bottom: 94px;
  }
}
@media screen and (min-width: 1280px){
  .profile{
    align-items: flex-start;
  }
  .profile__fieldset{
    margin-bottom: 143px;
  }
  .profile__title{
    margin-bottom: 120px;
  }
}


