.body {
  background-color: #202020;;
  color: #FFFFFF;
}
.page {
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button{
  padding: 0;
  border: none;
  font-weight: 500;
}
.button:hover{
  cursor: pointer;
  opacity: 0.8;
}
.container{
  padding: 0;
  margin: 0;
}
.fieldset{
  margin: 0;
  padding: 0;
  border: none;
}
.form{
  border: none;
  padding: 0;
  margin: 0;
}
.link{
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
}
.link:hover{
  cursor: pointer;
  opacity: 0.7;
}
.list{
  list-style: none;
}
.subtitle{
  margin: 0;
  font-style: normal;
  text-align: center;
}
.subtitle__teme-dark{
  color: #000000;
}
.subtitle__teme-light{
  color: #A0A0A0;
}
.title{
  margin: 0;
  padding: 0;
  font-style: normal;
  text-align: center;
}
.title__type_form{
  margin-bottom: 82px;
  font-weight: 500;
  font-size: 24px;
  line-height: 121%;
  text-align: center;
}
@media screen and (min-width: 768px){
  .title__type_form{
    margin-bottom: 41px;
  }
}
