.main__title-wrap{
  margin: 0 18px 60px;
}
.main__title{
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: -0.04em;
  margin-bottom: 28px;
  text-align: start;
}
.main__decor{
  border-bottom: 1px solid #DADADA;
}
@media screen and (min-width: 768px){
  .main__title-wrap{
    margin: 0 50px 70px;
  }
  .main__title{
    font-size: 22px;
    margin-bottom: 23px;
  }
}
@media screen and (min-width: 1280px){
  .main__title-wrap{
    margin-left: 70px;
    margin-right: 70px;
  }
}
