.main__title-wrap{
  margin: 0 18px 60px;
}
.main__title{
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: -0.04em;
  margin-bottom: 28px;
  text-align: start;
}
.main__decor{
  border-bottom: 1px solid #DADADA;
}
.main__container{
  padding: 0;
  margin: 0 18px 60px;
}
.main__list{
  margin-bottom: 56px;
}
.main__subtitle{
  font-weight: 400;
  font-size: 11px;
  line-height: 145%;
  text-align: start;
}
@media screen and (min-width: 768px){
  .main__title-wrap{
    margin: 0 50px 70px;
  }
  .main__title{
    font-size: 22px;
    margin-bottom: 23px;
  }
  .main__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 30px;
    margin: 0 50px 93px;
  }
  .main__subtitle{
    font-size: 12px;
    line-height: 150%;
  }
}
@media screen and (min-width: 1280px){
  .main__title-wrap{
    margin-left: 70px;
    margin-right: 70px;
  }
  .main__container{
    gap: 0 40px;
    margin: 0 70px 110px;
  }
  .main__subtitle{
    font-size: 14px;
    line-height: 143%;
  }
}
