.account__profile{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 46px;
}
.account__subtitle{
  font-weight: 500;
  font-size: 13px;
  line-height: 92%;
  margin: 0 7px 0 0;
}
.account__icon{
  background: #313131;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  background-image: url(../../../src/images/Menu-profile.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .account__profile{
    bottom: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .account__container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .account__subtitle{
    margin-right: 9px;
  }
}
