.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 calc((100% - 260px) / 2);
}
.register__form{
  min-width: 100%;
}
.register__fieldset{
  margin-bottom: 220px;
}
@media screen and (min-width: 768px){
  .register{
    align-items: flex-start;
    margin: 0 calc((100% - 396px) / 2);
  }
  .register__fieldset{
    margin-bottom: 127px;
  }
}

